@model IEnumerable<nutripuc.Models.AtividadeFisica>

@{
    ViewData["Title"] = "AtividadesFisicas";
}

<h1>AtividadesFisicas</h1>

<p>
    <a asp-action="Create">Criar nova Atividade Fisica</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TituloDaAtividade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaDaAtividade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intensidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDoRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlDaImagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloDaAtividade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaDaAtividade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intensidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDoRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlDaImagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
